<template:anonymous
        xmlns:jsp="http://java.sun.com/JSP/Page"
        xmlns:template="urn:jsptagdir:/WEB-INF/tags/template/"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        >

    <jsp:output omit-xml-declaration="true" doctype-root-element="HTML"
                doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
                doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"/>
    <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>
    <div class="container">
        <table>
        ${genInfo['generation']}
        </table>

        <a href="${genInfo['nextGen']}" class="btn btn-default">Next Generation</a>
    </div>
</template:anonymous>