<template:anonymous
        xmlns:jsp="http://java.sun.com/JSP/Page"
        xmlns:template="urn:jsptagdir:/WEB-INF/tags/template/"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        >

    <jsp:output omit-xml-declaration="true" doctype-root-element="HTML"
                doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
                doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"/>
    <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    <form method="post">
                        <input type="submit" value="Create new Post" class="btn btn-primary"/>
                    </form>
                    <!--<a href="/posts/create" class="btn btn-primary">Create new Post</a>-->
                </h2>
                <div class="allerts">
                    <div class="alert alert-success">
                        <strong>Successfully</strong>
                        deleted post
                    </div>
                    <div class="alert alert-danger">
                        <strong>Error</strong>
                        while deleting post
                    </div>
                </div>
                <div id="postsTable">
                    <jsp:directive.include file="posts.jspx" />
                </div>
            </div>
        </div>
    </div>
    <script src="/s/customJs.js"><!-- Custom js --></script>
</template:anonymous>