/* Colors for my Website */
@color-orange: #ff9900;
@color-gray_light: #EBEBEB;
@color-black_dark: #333333;
@color-black_medium: #454545;
body {
    background: @color-gray_light;
    color: @color-black_medium;
}
.container {
    margin: 0, auto;
    width: 960px;
}

.table {
    th {
        width: 315px;
        text-align: center;
    }
    td {
        text-align: center;
        width: 315px;
    }
}

     .empty {
        background: black;
        width: 10px;
        height: 10px;
     }
     .notEmpty {
        background: red;
        width: 10px;
        height: 10px;
     }

#myCanvas{
    width: 600px;
    height: 600px;
    border: 1px solid #c3c3c3;
    display: none;
}
.alert-danger {
    display: none;
}

.alert-success {
    display: none;
}

.delete {
    display: none;
}

.deleteForm{
    display: block;
}

.update {
    width: 100%;
}